@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fe6035;
  --color-secondary: #0a1a3d;
  --color-base-200: #fff4f1;
  --color-accent: #0a1a3d;
}

*{
    font-family: "Inter", sans-serif;
}

